@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@font-face {
   font-family: 'FuturaBook';
   src: url(../fonts/Futura-Book-font.ttf);
}

@font-face {
   font-family: 'Futurabold';
   src: url(../fonts/futurabold.ttf);
}

@font-face {
   font-family: 'futura-medium';
   src: url(../fonts/futura-medium-bt.ttf);
}