@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

@font-face {
   font-family: 'FuturaBook';
   src: url(../fonts/Futura-Book-font.ttf);
}

@font-face {
   font-family: 'FuturaHeavy';
   src: url(../fonts/Futura-Heavy-font.ttf);
}