@import url(../abstracts/_mixins.scss);

.home-card-header{
   @include font-style(40px, 700, #fff);
   background: #333333;
   display: inline-block;
   border-radius: 25px;
   margin-bottom: 60px;
   padding: 12px 30px;

   @media screen and (max-width: 767px) {
      @include font-style(25px, 700, #fff);
      border-radius: 15px;
   }
}

.content-card{
   background: #fff;
   border-top-right-radius: 25px;
   border-top-left-radius: 25px;
   margin-top: -25px;
   padding-top: 35px;

   .CMMC-content{
      background: url(../images/CMMC.png) no-repeat center center/cover;
      a{
         text-decoration: underline;
      }

      p,a,h1, h2, h3, h4, h5, h6 {
         font-family: 'futura-medium';
      }
   }

   &.cybersecurity-details{
      background: url(../images/bg/cybersecurity.jpg) no-repeat center center/cover;
      
      .cybersecurity-content{
         li,
         p {
            font-family: 'futura-medium';
         }
      }
   }
}

.card-contents{

   .card-wrapper-home{
      background: url(../images/home-page/bg-globe.png) no-repeat bottom center/contain;
      
      @media screen and (max-width: 767px) {
         background: url(../images/home-page/bg-globe.png) no-repeat center center/contain;
      }


      .cards{
         padding-bottom: 120px;
         @media screen and (max-width: 767px) {
            padding-bottom: 50px;    
         }
   
         .item{
            background: #fff;
            border: 1px solid #000;
            padding: 25px;
            border-radius: 25px;
            box-shadow: 1px 1px 5px #000;

            h3 {
               font-family: 'Futurabold';
               white-space: pre-line;
            }

            img {
               margin: 15px 0;
            }

            p {
               font-family: 'futura-medium';
            }
   
            ul{
               margin-left: 25px;
            }
         }
      }
   }
}

.map-card{
   padding: 0 20px;
   .map{  
      iframe{
         border-radius: 15px;
         box-shadow: 1px 1px 5px #000;
         width: 100%;
         height: 350px;

         @media screen and (max-width: 767px) {
            height: 250px;
         }
      }
   }
}

.brand-card{
   padding: 25px;
   border-radius: 15px;
   box-shadow: 1px 1px 5px #000;
   margin: 25px 0;
   overflow: hidden;
}