@import url(../abstracts/_mixins.scss);

.home-card-header{
   @include font-style(40px, 700, #fff);
   background: #333333;
   display: inline-block;
   border-radius: 25px;
   margin-bottom: 60px;
   padding: 15px 30px;

   @media screen and (max-width: 767px) {
      @include font-style(25px, 700, #fff);
   }
}

.content-card{
   background: #fff;
   border-top-right-radius: 25px;
   border-top-left-radius: 25px;
   margin-top: -25px;
   padding-top: 35px;

   .cmcc-content{
      background: url(../images/cmcc.png) no-repeat top center/cover;
      a{
         text-decoration: underline;
      }
   }

   &.cybersecurity-details{
      background: url(../images/cmcc.png) no-repeat bottom right;
      
      .cybersecurity-content{
         background: url(../images/bg-globe-ts.png) no-repeat bottom left;
   
      }
   }
}

.card-contents{

   .card-wrapper-home{
      background: url(../images/home-page/bg-globe.png) no-repeat bottom center/contain;
      
      @media screen and (max-width: 767px) {
         background: url(../images/home-page/bg-globe.png) no-repeat center center/contain;
      }


      .cards{
         padding-bottom: 120px;
         @media screen and (max-width: 767px) {
            padding-bottom: 50px;    
         }
   
         .item{
            background: #fff;
            border: 1px solid #000;
            padding: 25px;
            border-radius: 25px;
            box-shadow: 1px 1px 5px #000;
   
            ul{
               margin-left: 25px;
            }
         }
      }
   }
}

.map-card{
   padding: 0 20px;
   .map{  
      iframe{
         border-radius: 25px;
         box-shadow: 1px 1px 5px #000;
         width: 100%;
         height: 350px;

         @media screen and (max-width: 767px) {
            height: 250px;
         }
      }
   }
}

.brand-card{
   padding: 25px;
   border-radius: 25px;
   box-shadow: 1px 1px 5px #000;
   margin: 25px 0;
   overflow: hidden;
}